<div class="container">
  <h1 class="text-center">Aprendé Online</h1>
  <div class="card">

    <div class="">
    <ng-autocomplete
      [data]="data"
      [searchKeyword]="keyword"
      (selected)="selectEvent($event)"
      (inputChanged)="onChangeSearch($event)"
      [minQueryLength]="3"
      [itemTemplate]="itemTemplate"
      [notFoundTemplate]="notFoundTemplate"
    >
    </ng-autocomplete>
    <ng-template #itemTemplate let-item>
      <a [innerHTML]="item.name"></a>
    </ng-template>

    <ng-template #notFoundTemplate let-notFound>
      <div [innerHTML]="notFound"></div>
    </ng-template>
    </div>
  </div>

  <div>
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link active" routerLink="/home/category/DataScience" routerLinkActive="active">DATA SCIENCE</a>
      <a class="nav-link active" routerLink="/home/category/Mobile" routerLinkActive="active">MOBILE</a>
      <a class="nav-link active" routerLink="/home/category/Games" routerLinkActive="active">JUEGOS</a>
      <a class="nav-link active" routerLink="/home/category/DataBase" routerLinkActive="active">DATABASE</a>
      <a class="nav-link active" routerLink="/home/category/Angular" routerLinkActive="active">ANGULAR</a>
      <a class="nav-link active" routerLink="/home/category/CSHARP" routerLinkActive="active">C#</a>
      <a class="nav-link active" routerLink="/home/category/.NET" routerLinkActive="active">.NET</a>
    </nav>
  </div>
  
  <div class="Fondo">
    <img src="assets/Fondo.jpg" >
  </div>
  <router-outlet></router-outlet>
</div>

