<div class="container">
  <div class="card w-100 text-center" style="width: 18rem;">
  <img [src] = "course.imageURL" class="card-img-top" alt="..."> 
    <div class="card-body">

      <div class="row">
        <div class="col-sm-8">
         
            <div class="card-body">
              <h5 class="card-title">{{course.name}}</h5>
              <p class="card-text">{{course.description}}</p>
              
           
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Precio</h5>
              <h6 class="card-text">${{course.price}} ARS</h6> 
              <button type="button" class="btn btn-success btn-sm" (click)="agregarAlCarrito(course.price, course.id)"> 
               Agregar al carrito
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





