<div class="col-md-12">
  <h1>Registrarse</h1>
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="name">Nombre</label>
        <input
          type="text"
          class="form-control"
          name="name"
          [(ngModel)]="form.name"
          required
          minlength="3"
          maxlength="20"
          #name="ngModel"
        />
        <div class="alert-danger" *ngIf="name.errors && f.submitted">
          <div *ngIf="name.errors['required']">El nombre es requerido</div>
          <div *ngIf="name.errors['minlength']">
            El nombre debe tener al menos 3 caracteres
          </div>
          <div *ngIf="name.errors['maxlength']">
            El nombre puede tener hasta 20 caracteres
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="last_name">Apellido</label>
        <input
          type="text"
          class="form-control"
          name="name"
          [(ngModel)]="form.last_name"
          required
          minlength="3"
          maxlength="20"
          #last_name="ngModel"
        />
        <div class="alert-danger" *ngIf="last_name.errors && f.submitted">
          <div *ngIf="last_name.errors['required']">El apellido es requerido</div>
          <div *ngIf="last_name.errors['minlength']">
            El apellido debe tener al menos 3 caracteres
          </div>
          <div *ngIf="last_name.errors['maxlength']">
            El apellido puede tener hasta 20 caracteres
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="address">Direccion</label>
        <input
          type="text"
          class="form-control"
          name="name"
          [(ngModel)]="form.address"
          required
          minlength="3"
          maxlength="20"
          #address="ngModel"
        />
        <div class="alert-danger" *ngIf="address.errors && f.submitted">
          <div *ngIf="address.errors['required']">La direccion es requerida</div>
          <div *ngIf="address.errors['minlength']">
            La direccion debe tener al menos 3 caracteres
          </div>
          <div *ngIf="address.errors['maxlength']">
            La direccion puede tener hasta 20 caracteres
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
        />
        <div class="alert-danger" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors['required']">Email requerido</div>
          <div *ngIf="email.errors['email']">
            Debe ingresar un email valido
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div class="alert-danger" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors['required']">La contraseña es requerida</div>
          <div *ngIf="password.errors['minlength']">
            La contraseña debe tener al menos 6 caracteres
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Sign Up</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>

    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Registro exitoso!
      Se envio un mail al correo ingresado para verificar el registro.
    </div>
  </div>
</div>
